body{
    background-color: grey;
}

#grid{
    display: grid;
}

#drawing-area{
    display: flex;
    flex-grow: 50%;
    flex-shrink: 0; 
    gap: 12px;
    justify-content: center;
    align-content: center;
}

.pixel{
    width: 32px;
    height: 32px;
    background-color: white;
    border: 1px solid black;
}

.hover{
    filter: brightness(80%);
}