#grid{
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    
}

.pixel{
    width: 32px;
    height: 32px;
    background-color: black;
    border: 1px solid white;
}